*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  transition: all 0.75s ease-in-out;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.6rem;
  height: 1.8rem;
  background: transparent;
  border-radius: 1rem;
}

body {
  background-color: #fff;
}

img {
  max-width: 100%;
}

.section-heading {
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-heading .heading-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
}
.section-heading .heading-left .heading-subtitle {
  font-size: 0.85rem;
  opacity: 0.5;
  transform: translateY(2px);
}
.section-heading .heading-left .heading-subtitle svg {
  transform: scale(0.8) translateY(1px);
}
.section-heading .heading-right button {
  padding: 0.5rem;
  color: #2f2d28;
  background-color: #858585;
  cursor: pointer;
  border-radius: 5px;
}
.section-heading .heading-right button:hover {
  background-color: #fac251;
}

.site-header {
  display: grid;
  place-items: center;
  background-color: #fff;
  padding: 3rem;
}
.site-header .site-details {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;
}
.site-header .site-details .site-logo {
  width: 70px;
  height: 70px;
}
.site-header .site-tag {
  color: #cbbeac;
}

.hero-section {
  display: grid;
  place-items: center;
  gap: 1rem;
  padding: 3rem;
  color: #fff;
  line-height: 1.5;
}
.hero-section .hero-box {
  display: grid;
  place-items: center;
  padding: 3rem;
  border-radius: 0.6rem;
  color: #fff;
  max-width: 90%;
  background-color: #3c445c;
}
.hero-section .hero-box span {
  color: #fac251;
}
.hero-section .hero-box-quiz {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(100px, auto);
  padding: 1.5rem;
  gap: 1rem;
  grid-template-areas: "qs qs qs qs" "o1 . . o2" "o3 . . o4";
  grid-auto-rows: auto;
  border-radius: 0.6rem;
  color: #fff;
  width: 100%;
  background-color: #3c445c;
}
.hero-section .hero-box-quiz span {
  color: #fac251;
}
.hero-section .quiz-question {
  grid-area: qs;
  display: grid;
  place-items: center;
  padding: 1rem;
  border-radius: 0.6rem;
  background-color: #22bac8;
  color: #fff;
  width: 100%;
}
.hero-section .quiz-option-1 {
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  color: #232402;
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  display: grid;
  place-items: center;
  grid-area: o1;
  padding: 1rem;
  border-radius: 0.6rem;
  background-color: #fff;
  color: #3c445c;
}
.hero-section .quiz-option-2 {
  text-align: center;
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  color: #232402;
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
  display: grid;
  place-items: center;
  grid-area: o2;
  padding: 1rem;
  border-radius: 0.6rem;
  background-color: #fff;
  color: #3c445c;
}
.hero-section .quiz-option-3 {
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  color: #232402;
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  display: grid;
  place-items: center;
  grid-area: o3;
  padding: 1rem;
  border-radius: 0.6rem;
  background-color: #fff;
  color: #3c445c;
}
.hero-section .quiz-option-4 {
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  color: #232402;
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
  display: grid;
  place-items: center;
  text-align: center;
  grid-area: o4;
  padding: 1rem;
  border-radius: 0.6rem;
  background-color: #fff;
  color: #3c445c;
}
.hero-section h4 {
  font-size: 1.5rem;
}
.hero-section .main-text, .hero-section .result-title {
  font-size: 2rem;
  padding-bottom: 1.5rem;
}
.hero-section .result-title {
  font-size: 1.8rem;
  padding-bottom: 1.5rem;
}
.hero-section .sub-text, .hero-section .result-sub-text {
  font-size: 1rem;
  font-weight: 100;
  padding: 1rem;
}
.hero-section .result-title, .hero-section .result-sub-text {
  color: #fff;
}
.hero-section .main-btn {
  margin-top: 3rem;
  padding: 0.7rem 1.5rem;
  color: #232402;
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.site-footer {
  background-color: #fff;
  padding: 4rem;
}
.site-footer .footer-top {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  grid-auto-rows: 5rem;
  padding: 0 0 3rem;
}
.site-footer .footer-top .footer-card {
  display: flex;
  gap: 1rem;
  align-items: center;
}

@media screen and (max-width: 1150px) {
  .site-header {
    gap: 1rem;
  }
  .hero-box {
    font-size: smaller;
  }
}
@media screen and (max-width: 470px) {
  .site-header {
    padding: 1rem;
    gap: 0;
  }
  .site-header .site-details {
    transform: scale(0.7) translateX(-1.5rem);
  }
}/*# sourceMappingURL=layout.css.map */